<%= form_for :services, :url => { :action => "update_services_for_access_group"}  do |form| %>
  <%= form.collection_check_boxes :services, Service.all, :id, :route_code, prompt: true %>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end  %>

