<%= form_for (@bus_stops) do |f| %>

  <div class="field">
    <%= @bus_stops.each do |bus_stop|%>
      <%= f.checkbox bus_stop, {multiple: true}, 1, nil %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>