<h1>Welcome</h1>
<p>In the navbar you will find different tools to manage zapo.</p>
<% if current_user == User.first %>
  <p>You can create a new user Here.</p>
  <a href="managements/manage_user"><button class="btn btn-sm btn-basic" >Create new User</button></a>
<% end %>