<h1>Editing File To Update File Package</h1>

<%= render 'form', file_to_update_file_package: @file_to_update_file_package %>

<%= link_to 'Show', @file_to_update_file_package %> |
<%= link_to 'Back', file_to_update_file_packages_path %>
